data/
.byaldi/
.files/
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings

# Logs
*.log
logs/
forum_chat.log


# Database
*.db
*.sqlite
*.sqlite3
vectordb/

# OS specific
.DS_Store
Thumbs.db
desktop.ini

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Testing
.coverage
.pytest_cache/
htmlcov/
.tox/
.nox/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg 
temp.pt
tensor.bin
chroma_db/a4279b5d-fce2-43d7-b39e-778e0af2a296/data_level0.bin
chroma_db/a4279b5d-fce2-43d7-b39e-778e0af2a296/header.bin
chroma_db/a4279b5d-fce2-43d7-b39e-778e0af2a296/index_metadata.pickle
chroma_db/a4279b5d-fce2-43d7-b39e-778e0af2a296/length.bin
chroma_db/a4279b5d-fce2-43d7-b39e-778e0af2a296/link_lists.bin
